:root {
  --lt-main-bg-color: #fff;
  --lt-second-bg-color: #1a1a1a;

  --lt-main-color: #1a1a1a;
  --lt-second-color: #fff;

  color-scheme: dark;
}

.van-theme-dark {
  --lt-main-bg-color: #333;
  --lt-second-bg-color: #fff;

  --lt-main-color: #fff;
  --lt-second-color: #1a1a1a;
}

$screen-xs: 560px;
$screen-sm: 768px;
$screen-md: 1024px;
$screen-lg: 1280px;
$screen-xl: 1900px;
